body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

.features,
.contact {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
    margin-top: 2rem;
}


.privacy-box {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}